* {
	font-family: Calibri, sans-serif;
	color: #EBE0EB;
	font-size: 14px;
} 

body {
	margin: 1% 2% 1% 2%;
	background-color: #1F1F1F;
}

header span{
	font-size: 28px;
}

header a {
	text-decoration: none;
}

header {
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 800px;
} 

#horiz_menu {
	list-style-type: none;
	margin-left: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

#horiz_menu li {
	display: inline;
} 

.horiz_menu {
	padding: 1% 2% 1% 2%;
	width: 15%;
	height: 100%;
	background-color: #990000;
	text-decoration: none;
	display: inline-block;
}

.horiz_menu:hover{
	background-color: #FF8A00;
	color: #1F1F1F
} 

#contenu {
	width: 800px;
	margin-left:auto;
	margin-right:auto;
} 

#contenu p {
	text-indent: 2em;
}

h1 {
	font-size: 20px;
	color: #FF8A00;
	text-indent: 8em;
}

h2 {
	font-size: 18px;
	color: #FF8A00;
}

h3 {
	font-size: 17px;
	color: #FF8A00;
	text-indent: 2em;
}

h4 {
	font-size: 16px;
	color: #FF8A00;
	text-indent: 4em;
}

button {font-size: 28px;
	cursor: pointer;
}

#accessButtons {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
}

#buttonZoom {
	background-color: #1F1F1F1F;
	border: solid 1px #990000;
}

#buttonNB {
	background-color: #FFFFFF;
	border: solid 1px #000000;
	color:  #000000;
}

#divLiens * {
	margin-rifht: auto;
	margin-left: auto;
	text-align: center;
}

#divLiens {
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	background-color: #990000;
	padding-top: 2px;
	padding-bottom: 2px;
}

code {
	background-color: #990000;
	padding-left:0.5%;
	padding-right:0.5%;
	border-radius: 3px;
}
